{% extends 'base.html' %}

{% block content %}
<div>
<h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group" style="width: 60%;"> 
        {{ field.label_tag }}<br>
        {{ field }}
        <!-- to display rules to fill form -->
        <!-- {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %} -->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Sign up</button>
  </form>
</div>
  {% endblock %}